<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tristanwiley.chatse">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.LoginActivity" />
        <activity
            android:name=".chat.ChatActivity"
            android:label="@string/app_name">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.VIEW" /> -->


            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- <category android:name="android.intent.category.BROWSABLE" /> -->


            <!-- <data -->
            <!-- android:host="chat.stackoverflow.com" -->
            <!-- android:pathPrefix="/rooms/" -->
            <!-- android:scheme="https" /> -->
            <!-- <data -->
            <!-- android:host="chat.stackexchange.com" -->
            <!-- android:pathPrefix="/rooms/" -->
            <!-- android:scheme="https" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".about.AboutActivity" />

        <service
            android:name=".chat.service.IncomingEventService"
            android:enabled="true"
            android:exported="false" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9b47d59ac006c9074bed0516668b70beb9d5c67b" />

        <activity android:name=".stars.StarsActivity" />
    </application>

</manifest>